[submodule "AdelaiDet"]
	path = AdelaiDet
	url = ./AdelaiDet
[submodule "detectron2"]
	path = detectron2
	url = ./detectron2
[submodule "fvcore"]
	path = fvcore
	url = ./fvcore
[submodule "cocoapi"]
	path = cocoapi
	url = ./cocoapi
[submodule "PAA"]
	path = PAA
	url = https://github.com/JunhoPark0314/PAA.git
